body{
    margin: 0;
    min-height: 100vh; 
    background-color: #E5E5E5;
    font-family: Helvetica, Arial, Verdana;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{ 
    min-height:50px;
}

nav{
    text-align: center;
    margin: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin: 0 1em;
}

nav ul li a{
    text-decoration: none;
    color: #AC1933;
}

main{
    margin: auto;
}

.title{
    text-align: center;
    color: #AC1933;
}

button{
    padding: 1.25em 2em;
    margin: 0.5em;
}

button a{
    text-decoration: none;
}

.coloredBackgroundButton{
    border-radius: 25px;
    border: none;
    background-color: #AC1933;
    color: white;
}

.coloredBackgroundButton a{
    color: white;
}

.coloredTextButton{
    border-radius: 25px;
    border: 1px solid #AC1933;
    background-color: white;
    color: #AC1933;
}

.coloredTextButton a{
    color: #AC1933;
}

.posts{
    display: grid;
    grid-template-columns: 50% 50%;
  }

.post{
    background-color: #FFFFFF;
    margin: 1em;
    padding: 1em;
}

.joke{
    border: 1px solid #4AA55B;
}

.shortStory{
    border: 1px solid #21A8F3;
}

.shortHorrorStory{
    border: 1px solid #AC1933;
}

input{
    display: block;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

footer{
    text-align: center;
    min-height:50px; 
}

/* Responsive design */
@media only screen and (max-width: 600px) {
    .posts{
      display: block;
    }
    .post{
        width: 80%;
    }
  }